.results {
    width: 100%;
    padding-inline: 5%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
	padding-bottom: 1%;
	border: 1px solid rgb(234, 244, 255);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    background-color: hsl(216, 100%, 99%);

}
